/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
khirad.zip

/storage/app/private/books/*
/public/free_books/*
/public/img/authors/*
!/public/img/authors/thumbs
/public/img/authors/thumbs/*
/public/img/books/*
/public/img/screenshots/*
/public/img/thumbs/*