/* Select2 single styles start*/
.select2_single_container {
   max-width: 500px;
   margin: 15px 0 20px;
}
.select2_single_container .select2_single {
   width: 100%;
}
.select2_single_container .select2-container--default {
  box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 10%);
  font-weight: 300;
  font-size: 15px;
}
.select2_single_container .select2-selection--single {
  padding: 8px 7px;
  height: auto;
  border: none;
}
.select2_single_container .select2-selection__arrow {
  top: 20% !important;
  right: 5px !important;
}
.select2_single_container .select2-selection__placeholder {
   color: #212529 !important;
}
.select2_single_container .select2-selection__clear {
  padding-top: 4px;
}
/* Select2 single dropdown styles start*/
.select2_single_dropdown {
  border: none;
  box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 10%);
  font-size: 15px;
  top: -44px;
}
.select2_single_dropdown .select2-search__field {
  padding: 6px 10px;
  border: 1px solid #0000001f !important;
}
.select2_single_dropdown .select2-search--dropdown{
  padding: 4px;
}
.select2_single_dropdown .select2-results__options {
  padding: 0;
  max-height: 282px !important;
}
.select2_single_dropdown .select2-results__option {
  padding: 6px 15px;
  font-weight: 300;
}
.select2_single_dropdown .select2-results__option--selected {
  background-color: var(--color-scheme);
  color: white;
}
.select2_single_dropdown .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #F9FAFC;
  color: black;
}
/* Select2 single dropdown styles end*/
/* Select2 single styles end*/


.authors-prime-container {
   padding: 50px 0 90px;
}
.authors-prime-container h1 {
   text-align: center;
   font-family: 'Cuprum', sans-serif;
   font-size: 32px;
}

/* Search styles start */
.authors_search_container {
   width: 700px;
   max-width: 700px;
   display: flex;
   margin: 30px auto;
   position: relative;
   box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 10%);
}
.authors_search_container .select2-container--default {
   width: 100% !important;
   box-shadow: none;
}
.authors_search_container .primary-btn {
   border-radius: 0;
   padding: 5px 15px;
   position: absolute;
   right: 0;
   height: 100%;
}
.authors_search_container .primary-btn:hover {
   background: linear-gradient(rgb(95, 69, 235), rgb(126, 91, 239)) rgb(95, 69, 235);
   color: white;
}
.authors_search_container .select2-selection--single {
   padding: 8px 12px;
}
.authors_search_container .select2-selection__arrow {
   display: none;
}
.select2_authors_dropdown .select2-results__option--highlighted.select2-results__option--selectable {
   background-color: #F9FAFC;
   color: black;
}
.select2_authors_dropdown .select2-search__field {
   padding: 6px 15px;
}
.select2_authors_dropdown .select2-results__option {
   padding: 6px 20px;
}
.select2_authors_dropdown .select2-search__field::placeholder {
   opacity: 0.6;
}
.select2_authors_dropdown .select2-results__options {
   max-height: 274px !important;
}
/* Search styles end */

/* Filter by alphabet start */
.filter-by-alphabet {
   display: flex;
   align-items: center;
   padding: 15px 50px;
   width: 100%;
}
.filter-by-alphabet h6 {
   font-weight: 400;
   text-transform: uppercase;
   font-size: 16px;
   margin: 0;
}
.filter-by-alphabet ul {
   display: flex;
   margin: 0;
   gap: 16px;
}
.filter-by-alphabet ul li {
   list-style: none;
}
.filter-by-alphabet ul li a {
   text-transform: uppercase;
   text-decoration: none;
   color: black;
   font-weight: 300;
}
.filter-by-alphabet ul li a.active {
   font-weight: bold;
   color: var(--color-scheme);
}
/* Filter by alphabet end */



/* AUTHOR LIST START */
.authors-list-container {
   max-width: 1550px;
   padding: 30px 50px 0px;
   margin: auto;
}
.authors-list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}
.authors-list a {
   width: calc(20% - 24px);
   color: black;
   text-decoration: none;
   padding: 30px 30px 28px;
   box-shadow: 0 0 30px 0 rgb(0 0 0 / 7%);
   background: white;
}
.authors-list div {
   overflow: hidden;
}
.authors-list img {
   width: 100%;
   transition: 0.3s;
}
.authors-list a:hover img {
   transform: scale(1.1);
   filter: contrast(150%);
}
.authors-list h2 {
   font-weight: 300;
   font-size: 18px;
   margin: 25px 0 0;
}
/* AUTHOR LIST END */

