
.baskets-main-container {
   flex-direction: column;
   padding: 50px 50px 100px;
}
.baskets-main-container h1 {
   text-align: center;
   font-family: 'Lobster', cursive;
   font-size: 32px;
   margin-bottom: 50px;
}
.basket-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 30px;
   border-bottom: 1px solid #d0d0d0b3;
   margin-bottom: 35px;
}
.baskets-main-container h2 {
   font-weight: 900;
   font-size: 20px;
   margin: 0;
}
.basket-inner-div {
   display: flex;
}

/* BASKET INNER LEFT START*/
.basket-inner-left {
   width: 100%;
   padding: 50px 60px;
   box-shadow: 0px 0px 55px 5px rgb(0 0 0 / 4%);
}
.basket-inner-left button {
   background: transparent;
   border: none;
   color: #7151ed;
   padding: 5px 0;
}
.basket-inner-left button:hover {
   border: none;
}
.basket-inner-left p {
   margin: 0;
}
.empty-basket {
   border: 1px solid #7151ed !important;
   padding: 13px 25px !important;
   margin-top: 10px !important;
}

/* BOOKS LIST SINGLE START*/
.books-list-single {
   display: flex;
   align-items: center;
   margin-bottom: 25px;
}
.books-list-single:last-child {
   margin-bottom: 0;
}
.books-list-single img {
   width: 40px;
}
.books-list-single .name {
   width: 50%;
   padding-left: 50px;
   font-weight: 500;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}
.books-list-single .author {
   width: 50%;
   font-weight: 300;
   padding-left: 50px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}
.books-list-single .price {
   min-width: 150px;
   padding-left: 50px;
   font-weight: 500;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}
.books-list-single form {
   min-width: 100px;
   justify-content: flex-end;
   display: flex;
}
/* BOOKS LIST SINGLE END*/
/* BASKET INNER LEFT END*/


/* BASKET INNER RIGHT START*/
.basket-iner-right {
   width: 360px;
   min-width: 360px;
   background: #F9FAFC;
   padding: 50px 60px;
}
.basket-iner-right h2 {
   padding-bottom: 30px;
   border-bottom: 1px solid #d0d0d0b3;
   margin-bottom: 35px;
}
.books-count, .total-price, .discounted-price {
   display: flex;
   justify-content: space-between;
}
.basket-iner-right button {
   margin-top: 12px;
   border-radius: 0;
   padding: 14px 0;
   width: 100%;
   margin-bottom: 30px;
}
.accepts {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.accepts img {
   max-width: 100%;
   width: 18%;
}
.basket-iner-right h4 {
   font-size: 16px;
   font-weight: 400;
   margin-bottom: 30px;
}
/* BASKET INNER RIGHT END*/


