
body {
   color: black;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}
::-moz-selection { /* Code for Firefox */
   color: white;
   background: #7151ed;
 }
 ::selection {
   color: white;
   background: #7151ed;
 }
 body::-webkit-scrollbar {
   width: 8px;
 }
 body::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 }
 body::-webkit-scrollbar-thumb {
 background-color: #7151ed;
 outline: 1px solid #7151ed;
 }
#scrollTop {
   color: white;
   font-size: 35px;
   position: fixed;
   bottom: 60px;
   right: 40px;
   background-color: #7151ed;
   width: 60px;
   height: 60px;
   border-radius: 100%;
   z-index: 99;
   border: 2px solid #7151ed;
   transition: 0.3s linear;
}
#scrollTop:hover {
   background-color: white;
   color: #7151ed;
}
#scrollTop:hover i {
   -webkit-animation: bounce 0.5s infinite;
   animation: bounce 0.5s infinite;
}
@keyframes bounce {
   50% {
     -webkit-transform: translateY(-5px);
     -moz-transform: translateY(-5px);
     -ms-transform: translateY(-5px);
     -o-transform: translateY(-5px);
     transform: translateY(-5px); 
   } 
}
*:focus {
   outline: none;
}
button:focus {
   outline: none;
}
input {
   color: black;
}
.primary-container {
   max-width: 1550px;
   padding: 0 50px;
   margin: auto;
   display: flex;
}
.primary-btn {
   transition: all 0.5s ease 0s;
   background: linear-gradient(rgb(95, 69, 235), rgb(126, 91, 239)) rgb(95, 69, 235);
   color: rgb(249, 250, 252);
   border: 1px solid rgb(126, 91, 239);
   border-radius: 6px;
   padding: 8px 35px;
   line-height: 1;
   font-weight: 400;
   margin: 0;
}
.primary-btn:hover {
   background:  rgb(249, 250, 252);
   border: 1px solid rgb(126, 91, 239);
   color: rgb(126, 91, 239);
}
.primary-btn-shadow {
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

datalist, input::-webkit-calendar-picker-indicator {
   opacity: 0;
}

/*! JQ SELECT STYLES START*/
.jq-selectbox {
   width: 100%;
 }
 .jq-selectbox.focused .jq-selectbox__select {
    border-color: #d2d2d2;
 }
 .jq-selectbox__select:hover {
   background: white;
}
 .jq-selectbox li.selected {
   background-color: #7151ed;
   color: #FFF;
 }
 .jq-selectbox li:hover {
   background-color: #7151ed;
   color: #FFF;
 }
 .jq-selectbox li {
   padding: 8px 20px 9px;
   color: black;
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   font-weight: 300;
 }
 .jq-selectbox__dropdown {
    box-shadow: none;
 }
 .jq-selectbox__select-text {
   color: black;
   font-family: 'Roboto', sans-serif;
   width: 100% !important;
   font-size: 15px;
   min-width: 100px;
   font-weight: 300;
 }
 .jq-selectbox__select {
   font-family: 'Roboto', sans-serif;
   height: auto;
   border: 1px solid #d0d0d0b3;
   background: white;
   padding: 0px 45px 0px 20px;
   box-shadow: none;
 }
 /*! JQ SELECT STYLES END*/

 /*! HEADER START */
header {
   border-bottom: 1px solid #d0d0d0b3;
}
.main-navbar {
   width: 100%;
   justify-content: space-between;
   align-items: center;
}
.nav-logo img {
   width: 170px;
}
.nav-links-container {
   display: flex;
   padding-top: 40px;
}
.nav-links {
   color: #7151ed;
   font-size: 18px;
   padding: 0 22px;
   text-decoration: none;
}
.nav-links:hover {
   color: #7151ed;
}
.nav-links:first-child {
   padding-left: 0;
}
.nav-links-container .dropdown-toggle::after {
   vertical-align: 3px;
}
/*! NAVBAR CATEGORY MEGA MENU START */
.category-mega-menu {
   position: relative;
   padding-bottom: 40px;
}
.category-mega-menu .nav-seperator {
   border-top: 1px solid #d0d0d0b3;
   height: 1px;
   margin: 10px 0;
}
.category-mega-menu .mega-menu-toogler {
   color: #7151ed;
   font-size: 18px;
   padding: 0 25px;
   text-decoration: none;
}
.category-mega-menu .mega-menu-toogler i {
   display: inline-block;
   margin-left: .255em;
   vertical-align: 3px;
   border-top: .3em solid;
   border-right: .3em solid transparent;
   border-bottom: 0;
   border-left: .3em solid transparent;
}
.category-mega-menu .mega-menu-content {
   visibility: hidden;
   transition: all 0.4s;
   opacity: 0;
   position: absolute;
   width: max-content;
   border: 1px solid #d0d0d0b3;
   padding: 40px 35px 50px;
   right: -500px;
   border-bottom: 7px solid #7151ed;
   border-radius: 5px;
   top: 140px;
   display: flex;
   z-index: 2;
   background: white;
}
.category-mega-menu:hover .mega-menu-content {
   opacity: 1;
   visibility: visible;
   top: 56px;
}
.mega-menu-content h2 {
   color: #7151ed;
   font-size: 18px;
   margin-bottom: 15px;
}
.mega-menu-content a {
   color: black !important;
   text-decoration: none;
   margin: 6px 0;
}
.mega-menu-left {
   display: flex;
   flex-direction: column;
   padding-right: 35px;
   border-right: 1px solid #d0d0d0b3;
}
.mega-menu-right {
   padding-left: 15px;
}
.mega-menu-right h2 {
   padding-left: 20px;
}
.mega-menu-right-inner {
   max-width: 670px;
   display: flex;
   flex-wrap: wrap;
}
.mega-menu-right-inner a {
   width: 33.3%;
   padding: 0 20px;
}
/*! NAVBAR CATEGORY MEGA MENU END */
/*! NAVBAR SEARCHBAR START */
.searchbar {
   display: flex;
   align-items: center;
   min-height: 36px;
   transition: 0.3s;
}
.searchbar input {
   min-height: 36px;
   border: none;
   border-bottom: 1px solid #d0d0d0b3;
   padding: 6px 10px;
   font-size: 15px;
   visibility: hidden;
   overflow: hidden;
   width: 0px;
   transition: width 0.3s, visibility 0s;
   border-radius: 0;
}
.searchbar input::placeholder {
   color: #bdbdbd;
}
.searchbar button, .searchbar button:hover {
   background: transparent;
   color: #7151ed;
   border: none;
   padding: 8px 10px;
}
.searchbar.show input {
   width: 180px;
   visibility: visible;
}
/*! NAVBAR SEARCHBAR end */
/*! HEADER END */

/*! FOOTER START */
.footer {
   background: #F9FAFC;
}
.footer-inner {
   padding: 60px 50px 0;
}
.footer-inner h4 {
   color: black;
   font-weight: 500;
   font-size: 18px;
   margin-bottom: 16px;
}
.footer-left {
   width: 40%;
   padding: 0 40px 60px 0px;
}
.footer-left p {
   margin: 20px 0 30px;
   color: #989191;
   line-height: 1.7;
   font-size: 17px;
}
.footer-social {
   display: flex;
   gap: 20px;
}
.footer-social img {
   height: 25px;
}
.footer-middle {
   border-right: 1px solid #e5e6ea;
   border-left: 1px solid #e5e6ea;
   width: 30%;
   padding: 0 40px 60px;
   display: flex;
   flex-direction: column;
}
.footer-middle a {
   color: rgba(15, 18, 11, 0.68);
   text-decoration: none;
   width: max-content;
   margin-bottom: 8px;
   font-size: 17px;
}
.footer-middle a i {
   color: black;
}
.footer-right {
   width: 30%;
   display: flex;
   flex-direction: column;
   padding: 0 40px 60px;
}
.footer-right a {
   color: rgba(15, 18, 11, 0.68);
   text-decoration: none;
   font-size: 16px;
   margin-bottom: 8px;
   line-height: 2;
   font-size: 17px;
}
.footer-right a i {
   margin-right: 5px;
}
.copyright {
   background: white;
   text-align: center;
   padding: 18px;
   color: black;
   border-top: 1px solid #e5e6ea;
   font-size: 17px;
}
/*! FOOTER END */

/* PAGINATION */
.pagination {
   margin: 40px 0 0;
   justify-content: center;
}
.page-link {
   color: black;
}
.page-item.active .page-link {
   background-color: #7151ed;
   border-color: #7151ed;
}
.page-link:focus {
   box-shadow: none;
   color: black;
}
.page-link:hover {
   color: black;
}
/* PAGINATION END */

/* Select2 single styles start*/
.select2_single_container {
   max-width: 500px;
   margin: 15px 0 20px;
}
.select2_single_container .select2_single {
   width: 100%;
}
.select2_single_container .select2-container--default {
  box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 10%);
  font-weight: 300;
  font-size: 15px;
}
.select2_single_container .select2-selection--single {
  padding: 8px 7px;
  height: auto;
  border: none;
}
.select2_single_container .select2-selection__arrow {
  top: 20% !important;
  right: 5px !important;
}
.select2_single_container .select2-selection__placeholder {
   color: #212529 !important;
}
.select2_single_container .select2-selection__clear {
  padding-top: 4px;
}
/* Select2 single dropdown styles start*/
.select2_single_dropdown {
  border: none;
  box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 10%);
  font-size: 15px;
  top: -44px;
}
.select2_single_dropdown .select2-search__field {
  padding: 6px 10px;
  border: 1px solid #0000001f !important;
}
.select2_single_dropdown .select2-search--dropdown{
  padding: 4px;
}
.select2_single_dropdown .select2-results__options {
  padding: 0;
  max-height: 282px !important;
}
.select2_single_dropdown .select2-results__option {
  padding: 6px 15px;
  font-weight: 300;
}
.select2_single_dropdown .select2-results__option--selected {
  background-color: #7151ed;
  color: white;
}
.select2_single_dropdown .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #F9FAFC;
  color: black;
}
/* Select2 single dropdown styles end*/
/* Select2 single styles end*/
